<% content_for :title, @post.title %>

<div class="md:w-2/3 w-full mx-auto">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center flex-row-reverse">
    <% if authenticated? %>
      <%= link_to "Editar", edit_post_path(@post), class: "mt-2 rounded-md px-3.5 py-2.5 bg-yellow-500 hover:bg-yellow-300 inline-block font-medium" %>
      <div class="inline-block ml-2">
        <%= button_to "Apagar", @post, method: :delete, class: "mt-2 rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Tem certeza?" } %>
      </div>
    <% end %>
  </div>
  <%= render @post %>
</div>
